@{
  Layout="Shared/_Layout.cshtml";
}
<h2>You added new contact!</h2>
<strong><ul>Name: @Model.GetName()</strong>
  <li>Phone number: @Model.GetPhoneNumber()
    <ul><strong>Address</strong>
      <li>State: @Model.GetAddress().GetState()</li>
      <li>City: @Model.GetAddress().GetCity()</li>
      <li>Street: @Model.GetAddress().GetStreet()</li>
    </ul>
  </li>
  <li>Group: @Model.GetGroupName()</li>
</ul>
<a href="/">Home</a>
