@{
  Layout="Shared/_Layout.cshtml";
}
@if(@Model == null)
{
  <p>This contact doen't exist</p>
}
else
{
  <strong><ul>Contact Name: @Model.GetName()</strong>
    <li>Phone number: @Model.GetPhoneNumber()
      <ul><strong>Address</strong>
        <li>State: @Model.GetAddress().GetState()</li>
        <li>City: @Model.GetAddress().GetCity()</li>
        <li>Street: @Model.GetAddress().GetStreet()</li>
      </ul>
    </li>
    <li>Group: @Model.GetGroupName()</li>
  </ul>
  <form action="/contacts" method="post">
    <input class="form-control" type="hidden" name="delete-contact"  value="@Model.GetId()">
    <button class="btn btn-success" type="submit" name="button">Delete this contact</button>
  </form>
}
<a href="/">Home</a>
